

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-image: url(https://i.pinimg.com/originals/f6/fe/8d/f6fe8d1d0463f4e51b6367bbecf56a3e.gif);
   background-size: 105px;

}

article, aside, figure, footer, header, hgroup,
 menu, nav, section { display: block; }
 #modal {
   width: 900px;
   background-color: black;
   border: 6px solid white;
   box-shadow: 0 1px 5px black;
   border-radius: 5px;
   font-family: 'Verdana';
   margin: 25px auto;
   overflow: hidden;
 }

 #modal section {
   padding: 10px 30px;
   font-size: 15px;
   line-height: 175%;
   color: white;
 }

 body {
   background-image: url(https://i.pinimg.com/originals/00/2d/7e/002d7e638fb463fb7a266f5ffc7ac47d.gif);
   background-size: 1300px;
 }

 select {
   background-color: LightSlateGray;
   border: 2px solid white;
 }

 input {
   background-image: linear-gradient(darkblue, cyan);
   border: 1px solid black;
   height: 25px;
 }
#modal button {
    border: 3px solid white;
    background-color: LightSlateGray;
}
